#red {
  animation: neon2-1 3s infinite; }
@keyframes neon2-1 {
  0% {
    color: #E91E63;
    text-shadow: 0 0 10px #E91E63, 1px 1px #ee4c83, 0 0 280px #e91ec9; }
  80% {
    color: #E91E63;
    text-shadow: 0 0 10px #E91E63, 1px 1px #ee4c83, 0 0 280px #e91ec9; }
  81% {
    color: #222;
    text-shadow: 0 0 10px #000, 1px 1px #634a52, -2px 0px 4px #29121A; }
  94% {
    color: #222;
    text-shadow: 0 0 10px #000, 1px 1px #634a52, -2px 0px 4px #29121A; }
  95% {
    color: #E91E63;
    text-shadow: 0 0 10px #E91E63, 1px 1px #ee4c83, 0 0 280px #e91ec9; }
  96% {
    color: #222;
    text-shadow: 0 0 10px #000, 1px 1px #634a52, -2px 0px 4px #29121A; }
  97% {
    color: #E91E63;
    text-shadow: 0 0 10px #E91E63, 1px 1px #ee4c83, 0 0 280px #e91ec9; }
  98% {
    color: #E91E63;
    text-shadow: 0 0 10px #E91E63, 1px 1px #ee4c83, 0 0 280px #e91ec9; }
  99% {
    color: #222;
    text-shadow: 0 0 10px #000, 1px 1px #634a52, -2px 0px 4px #29121A; }
  100% {
    color: #E91E63;
    text-shadow: 0 0 10px #E91E63, 1px 1px #ee4c83, 0 0 280px #e91ec9; } }
#purple {
  animation: neon2-2 3s infinite; }
@keyframes neon2-2 {
  0% {
    color: #C32AFF;
    text-shadow: 0 0 10px #C32AFF, 1px 1px #d15dff, 0 0 280px #592aff; }
  80% {
    color: #C32AFF;
    text-shadow: 0 0 10px #C32AFF, 1px 1px #d15dff, 0 0 280px #592aff; }
  81% {
    color: #222;
    text-shadow: 0 0 10px #000, 1px 1px #634a52, -2px 0px 4px #29121A; }
  94% {
    color: #222;
    text-shadow: 0 0 10px #000, 1px 1px #634a52, -2px 0px 4px #29121A; }
  95% {
    color: #C32AFF;
    text-shadow: 0 0 10px #C32AFF, 1px 1px #d15dff, 0 0 280px #592aff; }
  96% {
    color: #222;
    text-shadow: 0 0 10px #000, 1px 1px #634a52, -2px 0px 4px #29121A; }
  97% {
    color: #C32AFF;
    text-shadow: 0 0 10px #C32AFF, 1px 1px #d15dff, 0 0 280px #592aff; }
  98% {
    color: #C32AFF;
    text-shadow: 0 0 10px #C32AFF, 1px 1px #d15dff, 0 0 280px #592aff; }
  99% {
    color: #222;
    text-shadow: 0 0 10px #000, 1px 1px #634a52, -2px 0px 4px #29121A; }
  100% {
    color: #C32AFF;
    text-shadow: 0 0 10px #C32AFF, 1px 1px #d15dff, 0 0 280px #592aff; } }
#blue {
  animation: neon2-3 3s infinite; }
@keyframes neon2-3 {
  0% {
    color: #03A9F4;
    text-shadow: 0 0 10px #03A9F4, 1px 1px #2ebcfc, 0 0 280px #03f4c7; }
  80% {
    color: #03A9F4;
    text-shadow: 0 0 10px #03A9F4, 1px 1px #2ebcfc, 0 0 280px #03f4c7; }
  81% {
    color: #222;
    text-shadow: 0 0 10px #000, 1px 1px #634a52, -2px 0px 4px #29121A; }
  94% {
    color: #222;
    text-shadow: 0 0 10px #000, 1px 1px #634a52, -2px 0px 4px #29121A; }
  95% {
    color: #03A9F4;
    text-shadow: 0 0 10px #03A9F4, 1px 1px #2ebcfc, 0 0 280px #03f4c7; }
  96% {
    color: #222;
    text-shadow: 0 0 10px #000, 1px 1px #634a52, -2px 0px 4px #29121A; }
  97% {
    color: #03A9F4;
    text-shadow: 0 0 10px #03A9F4, 1px 1px #2ebcfc, 0 0 280px #03f4c7; }
  98% {
    color: #03A9F4;
    text-shadow: 0 0 10px #03A9F4, 1px 1px #2ebcfc, 0 0 280px #03f4c7; }
  99% {
    color: #222;
    text-shadow: 0 0 10px #000, 1px 1px #634a52, -2px 0px 4px #29121A; }
  100% {
    color: #03A9F4;
    text-shadow: 0 0 10px #03A9F4, 1px 1px #2ebcfc, 0 0 280px #03f4c7; } }
#green {
  animation: neon2-4 3s infinite; }
@keyframes neon2-4 {
  0% {
    color: #8BC34A;
    text-shadow: 0 0 10px #8BC34A, 1px 1px #a4d070, 0 0 280px #c3bf4a; }
  80% {
    color: #8BC34A;
    text-shadow: 0 0 10px #8BC34A, 1px 1px #a4d070, 0 0 280px #c3bf4a; }
  81% {
    color: #222;
    text-shadow: 0 0 10px #000, 1px 1px #634a52, -2px 0px 4px #29121A; }
  94% {
    color: #222;
    text-shadow: 0 0 10px #000, 1px 1px #634a52, -2px 0px 4px #29121A; }
  95% {
    color: #8BC34A;
    text-shadow: 0 0 10px #8BC34A, 1px 1px #a4d070, 0 0 280px #c3bf4a; }
  96% {
    color: #222;
    text-shadow: 0 0 10px #000, 1px 1px #634a52, -2px 0px 4px #29121A; }
  97% {
    color: #8BC34A;
    text-shadow: 0 0 10px #8BC34A, 1px 1px #a4d070, 0 0 280px #c3bf4a; }
  98% {
    color: #8BC34A;
    text-shadow: 0 0 10px #8BC34A, 1px 1px #a4d070, 0 0 280px #c3bf4a; }
  99% {
    color: #222;
    text-shadow: 0 0 10px #000, 1px 1px #634a52, -2px 0px 4px #29121A; }
  100% {
    color: #8BC34A;
    text-shadow: 0 0 10px #8BC34A, 1px 1px #a4d070, 0 0 280px #c3bf4a; } }

/*# sourceMappingURL=neon_by_Adriano.css.map */
